body {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
}



center br {
    display: block;
    content: "";
    margin-top: 30;
}

footer br {
    display: block;
    content: "";
    margin-top: -12;
}


div#bouttonscan a {
    align-items: center;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    display: inline-flex;
    font-size: 14px;
    height: 48px;
    letter-spacing: .25px;
    padding: 2px 24px;
    will-change: transform, opacity;
    z-index: 0;
    text-decoration: none;
}

div#bouttonscan a:hover {
    background-color: #0099b3;
    color: white;
}

footer {
    position: absolute;
    top: 100;
    right: 0;
    font-size: 10;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    border: 8px solid #2e2722;
    border-radius: 30px;
    padding: 5;
}

.search {
    width: 30%;
    margin: auto;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    padding-left: 2%;
    border-radius: 30px 0 0 30px;
    outline: none;
    color: #2e2722;
}

.searchTerm:focus {
    color: #2e2722;
}

.searchButton {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    font-size: 20px;
}

.searchButton:hover {
    background: #0099b3;

}

/* demo styles */

section {
    margin: 50px;
}


/* follow me template */
.made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    color: rgb(0, 0, 0);
}

.made-with-love i {
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
}

.made-with-love a {
    color: black;
    text-decoration: none;
}

.made-with-love a:hover {
    text-decoration: underline;
}

.affichageresultat {
    width: 70%;
    margin: auto;
    text-align: left;
}


/* for custom scrollbar for webkit browser*/
/* Container is necessary because td cannot be positioned relative */
.invisiblecontainer {
    position: relative;
}

.invisible {
    display: none;
    position: absolute;
    /* left: 200px; */
    background: #00b4cc;
    color: white;
    border-radius: 20px;
    z-index: 1;
    /* More positioning, heigh, width, etc */
}

a:hover .invisible {
    display: block;
}

#div_login {
	background-color: #f2f2f2;
	width: 300px;
	border: 1px solid gray;
	border-radius: 2px;
	padding: 30px;
	/* on met la partie login a gauche de l'ecran */
	margin-right: 80%;

}

.textbox {
	width: 100%;
	padding: 10px;
}

#envoyer {
	padding: 10px 20px;
	background-color: #00B4CC;
	color: #FFF;
	border: 0px;
	border-radius: 2px;
	/* on fait en sorte que la souris soit cliquable */
	cursor: pointer;
}

/* quand la souris est sur le bouton on change la couleur en plus foncé */
#envoyer:hover {
	/* background color #00B4CC plus foncé  */
	background-color: #0099b3;
}