body {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
}



center br {
    display: block;
    content: "";
    margin-top: 30;
}

footer br {
    display: block;
    content: "";
    margin-top: -12;
}


div#bouttonscan a {
    align-items: center;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    display: inline-flex;
    font-size: 14px;
    height: 48px;
    letter-spacing: .25px;
    padding: 2px 24px;
    will-change: transform, opacity;
    z-index: 0;
    text-decoration: none;
}

div#bouttonscan a:hover {
    background-color: #2e2722;
    color: white;
}

footer {
    position: absolute;
    top: 100;
    right: 0;
    font-size: 10;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    border: 8px solid #2e2722;
    border-radius: 30px;
    padding: 5;
}

.search {
    width: 30%;
    margin: auto;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    padding-left: 2%;
    border-radius: 30px 0 0 30px;
    outline: none;
    color: #2e2722;
}

.searchTerm:focus {
    color: #2e2722;
}

.searchButton {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    font-size: 20px;
}

.searchButton:hover {
    background: #0b7dda;

}

table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: #00B4CC;
    border-radius: 30px 30px 0 0;
}

.tbl-content {
    height: 300px;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: black;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}


/* demo styles */

section {
    margin: 50px;
}


/* follow me template */
.made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    color: rgb(0, 0, 0);
}

.made-with-love i {
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
}

.made-with-love a {
    color: black;
    text-decoration: none;
}

.made-with-love a:hover {
    text-decoration: underline;
}

.affichageresultat {
    width: 70%;
    margin: auto;
}


/* for custom scrollbar for webkit browser*/
/* Container is necessary because td cannot be positioned relative */
td .tooltipcontainer {
    position: relative;
}

td .tooltip {
    display: none;
    position: absolute;
    left: 200px;
    /* More positioning, heigh, width, etc */
}

td a:hover .tooltip {
    display: block;
}